.label-option {
  margin: 1rem;
  box-shadow: 1px 1px 4px 0px #808080;
  padding: 3rem 2rem;
  width: 15rem;
  text-align: center;
  height: 15vh;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  font-weight: 800;
  border: 1px solid #ffffff;
}
/* label.label-option:active {
  border: 1px solid #0e2d92;
} */
.label-option.radSelected {
  border: 1px solid #0e38aa;
}
.label-option input {
  margin: 0.5rem;
  display: none;
}
.label-option img {
  height: 100%;
}

.label-option > input:checked + .label-option {
  box-shadow: 1px 1px 4px 0px #ff0000;
}
.ques-btn {
  position: relative;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 1rem 2rem;
  color: #ffffff;
  background: blue;
  border: none;
  box-shadow: 1px 1px 5px #808080;
}
.quiz-form {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .label-option {
    width: 100%;
  }
}
