.appointment-setting-1 {
  background: url("../../images/AS-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.appointment-setting-2 {
  background: url("../../images/AS-02.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 10vw;
  background-color: #deeefb;
}

.appointment-setting-3 {
  background: url("../../images/AS-03.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.appointment-setting-4 {
  background: url("../../images/AS-04.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 10vw;
  background-color: #deeefb;
}
.appointment-setting-5 {
  background: url("../../images/AS-05.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.appointment-setting-6 {
  background: url("../../images/AS-06.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #deeefb;
}
.appointment-setting-7 {
  background: url("../../images/about-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.appointment-setting-8 {
  background: url("../../images/AS-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #deeefb;
}
.data-cleaning-1 {
  background: url("../../images/data-cleaning-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 55vw;
}
.data-cleaning-2 {
  background: url("../../images/data-cleaning-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 10vw;
  background-color: #deeefb;
}
.data-cleaning-3 {
  background: url("../../images/data-cleaning-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 55vw;
}
.appDev-sec-01 {
  background: url("../../images/appDev-sec-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 55vw;
}
.appDev-sec-02 {
  background: url("../../images/appDev-sec-02.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 10vw;
  background-color: #deeefb;
}
.appDev-sec-03 {
  background: url("../../images/about-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 55vw;
}
.appDev-sec-04 {
  background: url("../../images/appDev-sec-04.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 10vw;
  background-color: #deeefb;
}
.appDev-sec-05 {
  background: url("../../images/appDev-sec-05.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 55vw;
}
.digitalLead-sec-1 {
  background: url("../../images/digitalLead-sec-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.digitalLead-sec-2 {
  background: url("../../images/Quality-control.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #deeefb;
}
.digitalLead-sec-3 {
  background: url("../../images/digitalLead-sec-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.digitalLead-sec-4 {
  background: url("../../images/digitalLead-sec-4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #deeefb;
}
.digitalLead-sec-5 {
  background: url("../../images/digitalLead-sec-5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.digitalLead-sec-6 {
  background: url("../../images/digitalLead-sec-6.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #deeefb;
}
.digitalLead-sec-7 {
  background: url("../../images/appDev-sec-05.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.digitalLead-sec-8 {
  background: url("../../images/digitalLead-sec-8.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #deeefb;
}
.digitalLead-sec-9 {
  background: url("../../images/about-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.tele-marketing-sec-1 {
  background: url("../../images/tele-marketing-sec-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 55vw;
}
.tele-marketing-sec-2 {
  background: url("../../images/tele-marketing-sec-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10vw;
  background-color: #deeefb;
}
.business-event-sec-1 {
  background: url("../../images/business-event-sec-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 55vw;
}
.business-event-sec-2 {
  background: url("../../images/business-event-sec-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10vw;
  background-color: #deeefb;
}
.restaurant-app-sec-01 {
  background: url("../../images/restaurant-app-sec-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50vw center;
}
.restaurant-app-sec-02 {
  background: url("../../images/restaurant-app-sec-02.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 5vw;
  background-color: #deeefb;
}

.restaurant-app-sec-03 {
  background: url("../../images/restaurant-app-sec-03.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50vw center;
}
.restaurant-app-sec-04 {
  background: url("../../images/restaurant-app-sec-04.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 5vw;
  background-color: #deeefb;
}
.restaurant-app-sec-05 {
  background: url("../../images/restaurant-app-sec-05.png");
  background-size: contain;
  background-position: 50vw center;
  background-repeat: no-repeat;
}
.restaurant-app-sec-06 {
  background: url("../../images/restaurant-app-sec-06.png");
  background-size: contain;
  background-position: 5vw;
  background-color: #deeefb;
  background-repeat: no-repeat;
}
.sales-training-sec-01 {
  background: url("../../images/sales-training-sec-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50vw center;
}
.sales-training-sec-02 {
  background: url("../../images/sales-training-sec-02.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 5vw;
  background-color: #deeefb;
}

.sales-training-sec-03 {
  background: url("../../images/sales-training-sec-03.png");
  background-size: 40vw;
  background-repeat: no-repeat;
  background-position: 50vw;
}
.marketing-automation-sec-01 {
  background: url("../../images/marketing-automation-sec-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 60vw;
}
.marketing-automation-sec-02 {
  background: url("../../images/marketing-automation-sec-02.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 5vw;
  background-color: #deeefb;
}
.advanced-digital-sec-01 {
  background: url("../../images/advanced-digital-sec-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50vw center;
}
.advanced-digital-sec-02 {
  background: url("../../images/advanced-digital-sec-02.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 5vw;
  background-color: #deeefb;
}

.advanced-digital-sec-03 {
  background: url("../../images/advanced-digital-sec-03.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50vw center;
}
.advanced-digital-sec-04 {
  background: url("../../images/advanced-digital-sec-04.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 5vw;
  background-color: #deeefb;
}
.advanced-digital-sec-05 {
  background: url("../../images/advanced-digital-sec-05.png");
  background-size: contain;
  background-position: 50vw center;
  background-repeat: no-repeat;
}
.advanced-digital-sec-06 {
  background: url("../../images/advanced-digital-sec-06.png");
  background-size: contain;
  background-position: 5vw;
  background-color: #deeefb;
  background-repeat: no-repeat;
}
.video-animation-sec-01 {
  background: url("../../images/video-animation-sec-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50vw center;
}
@media (max-width: 768px) {
  .appointment-setting-1,
  .appointment-setting-2,
  .appointment-setting-3,
  .appointment-setting-4,
  .appointment-setting-5,
  .appointment-setting-6,
  .appointment-setting-7,
  .appointment-setting-8,
  .appDev-sec-01,
  .appDev-sec-02,
  .appDev-sec-03,
  .appDev-sec-04,
  .appDev-sec-05,
  .digitalLead-sec-1,
  .digitalLead-sec-2,
  .digitalLead-sec-3,
  .digitalLead-sec-4,
  .digitalLead-sec-5,
  .digitalLead-sec-6,
  .digitalLead-sec-7,
  .digitalLead-sec-8,
  .digitalLead-sec-9,
  .restaurant-app-sec-01,
  .restaurant-app-sec-02,
  .restaurant-app-sec-03,
  .restaurant-app-sec-04,
  .restaurant-app-sec-05,
  .restaurant-app-sec-06,
  .sales-training-sec-01,
  .sales-training-sec-02,
  .sales-training-sec-03,
  .advanced-digital-sec-01,
  .advanced-digital-sec-02,
  .advanced-digital-sec-03,
  .advanced-digital-sec-04,
  .advanced-digital-sec-05,
  .advanced-digital-sec-06,
  .video-animation-sec-01 {
    background-size: 30vh;
    background-position-x: 100%;
    background-position-y: 0%;
  }
}
