.accordionContainer {
  border: 1px solid #000000;
  padding: 1rem 2rem;
  text-align: right;
  display: flex;
  justify-content: space-between;
  width: 35vw;
  font-weight: 600;
  margin: 2rem 0rem;
}
.accordion-heading {
  float: left;
}
.expand-icon {
  float: right;
}
.spacer {
  flex: 1;
}

.description {
  position: absolute;
}
@media (max-width: 768px) {
  .accordionContainer {
    width: 70vw;
    margin: 2rem auto;
  }
}
