.card-container {
  display: flex;
}
.findMoreCard {
  border: none;
  box-shadow: 0px 0px 4px 0px #808080;
  padding: 1rem 2rem;
  width: 13vw;
  margin: 1rem;
  margin-bottom: 0;
  background: #ffffff;
  height: auto;
  min-height: 75%;
}
.findMoreCard__button {
  margin: 0 1rem;
  box-shadow: 0px 0px 4px 0px #808080;
  background: #ffffff;
  margin-bottom: 1rem;
}
.card-heading {
  color: #448bdc;
}
.card__image-div {
  text-align: center;
  height: 20vh;
}
.card__image-div img {
}
.card__button {
  width: 100%;
  background: none;
  border: none;
  border-top: 1px solid #808080;
  padding: 1rem;
  color: #448bdc;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
}
.card__button:focus {
  border: none;
  border-top: 1px solid #808080;
}

@media (max-width: 768px) {
  .card-container {
    margin: 1rem 0px;
  }
  .findMoreCard {
    width: 80vw;
    margin: 0rem auto;
  }
  .findMoreCard__button {
    margin: auto;
    width: 100%;
  }
}
