.serice-card-container {
  border: 0px solid #000000;
  box-shadow: 1px 1px 10px 0px #808080;
  margin: 0.5rem 0.5rem;
  padding: 1rem 1rem;
  width: 21vw;
  background-color: #ffffff;
  height: 20rem;
  transition: 0.2s ease;
}

.serice-card-container h4 {
  margin: 0.5rem 0px;
}
.serice-card-container p {
  margin: 5px 0px;
  font-size: 0.75rem;
}
.serice-card-container img {
  height: 20vh;
}
.serice-card-container > button.btn {
  font-size: 0.55rem;
  transition: 0.2s ease-in;
  margin: 2rem;
}

/* ----------------------------------------------- */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container.no-card:hover .flipper {
  transform: none !important;
}

.flip-container,
.front,
.back {
  width: 320px;
  height: 400px !important;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.flipper:hover .back.no-card {
  transition: none;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
/* ----------------------------------------------- */
@media (max-width: 768px) {
  .serice-card-container {
    border: 0px solid #000000;
    box-shadow: 1px 1px 1px 1px #808080;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    width: 80%;
    height: auto;
    background-color: #ffffff;
  }
  .serice-card-container p {
    font-size: 0.75rem;
  }
}
