.serice-card-container {
  border: 0px solid #000000;
  box-shadow: 1px 1px 10px 0px #808080;
  margin: 0.5rem 0.5rem;
  padding: 1rem 1rem;
  width: 21vw;
  background-color: #ffffff;
  height: 20rem;
  transition: 0.2s ease;
  position: relative;
}
.serice-card-container:hover {
  transform: rotateY(360deg);
}
.no-card:hover {
  transform: none !important;
}
.serice-card-container h4 {
  margin: 0.5rem 0px;
}
.serice-card-container p {
  margin: 5px 0px;
  font-size: 0.75rem;
}
.serice-card-container img {
  height: 20vh;
}
.serice-card-container > button.btn {
  font-size: 0.55rem;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: 0.2s ease-in;
}
.serice-card-container:hover > button.btn {
  display: block;
}
@media (max-width: 768px) {
  .serice-card-container {
    border: 0px solid #000000;
    box-shadow: 1px 1px 1px 1px #808080;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    width: 80%;
    height: auto;
    background-color: #ffffff;
  }
  .serice-card-container p {
    font-size: 0.75rem;
  }
}
