.serice-card-container {
  border: 0px solid #000000;
  box-shadow: 1px 1px 1px 1px #808080;
  margin: 1rem 3rem;
  padding: 1rem 1rem;
  width: 14rem;
  height: 15rem;
  background-color: #ffffff;
}

.serice-card-container h4 {
  margin: 1rem 0px;
}
.serice-card-container p {
  margin: 5px 0px;
  font-size: 0.75rem;
}
.serice-card-container img {
  width: 50%;
  height: 50%;
}

@media (max-width: 768px) {
  .serice-card-container {
    border: 0px solid #000000;
    box-shadow: 1px 1px 1px 1px #808080;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    width: 80%;
    height: auto;
    background-color: #ffffff;
  }
  .serice-card-container p {
    font-size: 1rem;
  }
}
