.addblog-header {
  margin: 1rem 0;
}
.addblog-header input {
  width: 100%;
  font-size: 2rem;
  border: none;
}
.btn {
  background: #00c4ff;
  color: #ffffff;
  padding: 0.5em 2em;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-size: 0.65rem;
}
.post {
  font-size: 1rem;
  margin: 2rem 0;
  background: #0e38aa;
  border: 1px solid #0b6ae8;
}
.icon-margin {
  margin: 0 0.3rem;
}
.blog-subimage {
}
.blog-subimage img {
  height: 100%;
  width: 100%;
}

.blog-subheading {
  width: 60vw;
  border: none;
  font-size: 1.5rem;
}
.blog-subcontent {
  width: 60vw;
  border: none;
  font-size: 1rem;
}
